@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i");

/* 이전 버튼 스타일 */
.flickity-prev-next-button.previous {
  background-color: #CAB2D34D; /* 배경색 지정 */
  color: #fff; /* 글자색 지정 */
  font-size: 16px; /* 글자 크기 지정 */
  border: none; /* 테두리 제거 */
  padding: 10px 20px; /* 내부 여백 지정 */
  border-radius: 5px; /* 둥근 모서리 적용 */
  cursor:
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-cursor.png)
      10 2,
    auto;
  &:hover {
    cursor:
      url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-click.png)
        10 2,
      auto;
  }
}

/* 다음 버튼 스타일 */
.flickity-prev-next-button.next {
  background-color: #CAB2D34D; /* 배경색 지정 */
  color: #fff; /* 글자색 지정 */
  border: none; /* 테두리 제거 */
  padding: 10px 20px; /* 내부 여백 지정 */
  border-radius: 5px; /* 둥근 모서리 적용 */
  cursor:
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-cursor.png)
      10 2,
    auto;
  &:hover {
    cursor:
      url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-click.png)
        10 2,
      auto;
  }
}

.container {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main {
  position: relative;
  perspective: 1500px;
  width: 100vw;
}

.intro-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro-carousel img {
  display: none;
}

.flickity-viewport {
  height: 100% !important;
}

.intro-cell {
  width: 100%;
  height: 100%;
  text-align: center;
}

.intro-text {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  max-width: 860px;
  color: #ffffff;
}
.intro-text h1 {
  font-family: "Pyeongchangpeace";
  font-size: 42px;
  margin: 0;
}
.intro-text h2 {
  font-size: 16px;
  font-family: "Pyeongchangpeace";
  text-transform: uppercase;
  margin: 0;
}
.intro-text p {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 6px;
  margin-bottom: 9px; 
}
.intro-text a {
  display: inline-block;
  padding: 10px 25px;
  background: #cab2d3;
  border-radius: 99px;
  text-transform: uppercase;
  font-size: 26px;
  color: #813e83;
  font-family: "Pyeongchangpeace";
  margin-top: 20px;
}
.intro-text .feature {
  height: 800px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .intro-text {
    max-width: 700px;
  }
}

@media (max-width: 992px) {
  .intro-text h1 {
    font-size: 36px;
  }
  .intro-text h2 {
    font-size: 14px;
  }
  .intro-text p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .intro-text {
    max-width: 560px;
    bottom: 10%; /* increase the space from the bottom */
  }
  .intro-text h1 {
    font-size: 32px;
  }
  .intro-text p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .intro-text {
    max-width: 340px;
  }
  .intro-text h1 {
    font-size: 28px;
  }
  .intro-text a {
    padding: 10px 20px;
  }
}
