@font-face {
    font-family: "brodies";
    /* src: local("Happiness-Sans"), url(${Font_R}) format('truetype');  */
    src : url('/src/assets/fonts/brodies.ttf');
    font-weight: normal;
  }
  
  @font-face {
    font-family: "brodies";
    /* src: local("Happiness-Sans"), url(${Font_B}) format('truetype'); */
    src : url('/src/assets/fonts/brodies.ttf');
    font-weight: bold;
  }