.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: 200px;
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url("../../assets/img/cardBack.png");
}

.front {
    background-image: url("../../assets/img/cardFront.png");
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  background-image: url("../../assets/img/background.jpg");
  background-size: cover;
}
